/* .find-icons{
    display: flex;
    justify-content: space-between;
    /* border-bottom: var(--main-border); */
   /* padding-bottom: 25px;
}

.find-icons__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i{
    font-size: 35px;
}

.find-icons__icon span{
    margin-top: 18px;
} */

/* 6.25 icon-row.css로 복사 */

.recommended-friends{
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    margin: 25px 0px;
}

.recommended-friends__title{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5); 
}

.recommended-friends span{
    margin: 100px 0;
    display: block;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
}

/* 6.23  viow color themes가 색상이 이쁨(flat)*/
.open-post__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    margin-bottom: 25px;
}

.open-post__header span{
    opacity: 0.6;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-post__title{
    font-weight: 600;
    margin-bottom: 7px;
}

.open-post__hashtags{
    text-transform: uppercase;  /* 모든 글자를 대문자로 만들어줌 */
    opacity: 0.6;
}

.open-post__members {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}

.open-post__members-count{
    opacity: 0.5;
    font-size: 14px;
}

.open-post__members .divider{  /*open-post__members 안에 .divider만 적용*/
    width: 2px;
    height: 15px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.open-post__members-status {
    color: #ffb0e0;
}

.open-post__photo{
    position: relative;
}

.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;   
}

.open-post__heart-count{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 20px ;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 17px;
}

.open-post__heart-count span{
    margin-left: 3px;

}



/* 위 코드는 스크린의 좌측 해쉬태그와 아이콘 멤버수 등등을 표현함 */

/* 6.24
    justify-content: space-between;
    align-items: center; 
    이 조합은 매우 많이쓰는 조합

    relative (photo)
    absolute (heart-count)
*/

/* 6.21
    flex-direction: column은 다음줄에 오는 것
    row는 옆에 오는 것
    (flex-direction을 설정해줬으니 교차축과 주축이 바뀜)
    column 해줬기 때문에 메인이 세로 , 교차축이 가로

    border(경계선)을 만드는 것 위에 아이콘에 넣어주거나
    아래 추가적인 텍스트에 넣어줘도 됨
    이 예제에는 아이콘에 넣어줌

    border을 많이 사용하니 6.22에서는 변수로 만듦
*/

/* 6.22
    variables.css 부분에 border을 변수로 만들어준 뒤 
    find.css 와 frineds.css 부분의 border을 수정해준다
    *같은 코드를 여러번 반복해서 사용하면 변수로 만들어주는 것 좋음*

    title 부분의 글자색 정한 것 스크린샷에 맞게 숙제

    span 부분은 inline이기 때문에 block로 바꿔줘야 text-align이 적용됨
*/

