#friends-display-link{
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 10px 0px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: -15px;
}

#friend-display-link i{
       color: rgba(0, 0, 0, 0.3);      
}

.friends-screen{
       padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
       margin-top: 25px;
       border-top: 1px solid rgba(0, 0, 0, 0.2);
       padding-top: 15px;
   }
   
   .friends-screen__channel-header{
       margin-bottom: 30px;
       display: flex;
       justify-content: space-between;
       color: rgba(0, 0, 0, 0.5);
   }
   
   /* .user-component__column:last-child{
       color: rgba(0, 0, 0, 0.5);
   } */

/* 6.15
       html 파일에는 <a>를 통해서 작성하고
       id를 이용해서 만들어준다

       friends.css 파일을 생성한 뒤 위와같이 작성해준다

       style.css 파일에 body에서 폰트의 색상을 nav-bar에서 가져와 동일하게 해줌
*/

/* 6.18
       header과 글자 색 같게 하기위해서 설정해줌 (다른 스크린에도 사용예정)
*/

/* 6.20
       margin값이 너무 커서 margin-top: -10px; 줌
       (screen-header.css 에 margin-bottom을 추가한 것이 너무 커서)
*/