#friends-display-link{
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 10px 0px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: -15px;
}

#friend-display-link i{
       color: rgba(0, 0, 0, 0.3);      
}

.friends-screen{
       padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
       margin-top: 25px;
       border-top: var(--main-border);
       padding-top: 15px;
   }
   
   .friends-screen__channel-header{
       margin-bottom: 30px;
       display: flex;
       justify-content: space-between;
       color: rgba(0, 0, 0, 0.5);
   }
   
   /* .user-component__column:last-child{
       color: rgba(0, 0, 0, 0.5);
   } */

/* 6.15
       html 파일에는 <a>를 통해서 작성하고
       id를 이용해서 만들어준다

       friends.css 파일을 생성한 뒤 위와같이 작성해준다

       icon은 text라고 생각하면 된다

       style.css 파일에 body에서 폰트의 색상을 nav-bar에서 가져와 동일하게 해줌
*/

/* 6.18
       header과 글자 색 같게 하기위해서 설정해줌 (다른 스크린에도 사용예정)
*/

/* 6.20
       margin값이 너무 커서 margin-top: -10px; 줌
       (screen-header.css 에 margin-bottom을 추가한 것이 너무 커서)
*/

#splach-screen{
 background-color: var(--yellow);
 position: absolute;      
 height: 100vh;
 width: 100vw;
 top: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 122px;
 animation: hideSplashScreen 0.5s ease-in-out forwards;
 animation-delay: 2s;
}

/* 6.34(splash screen)
       absolute div의 경우 가장 가까운 relative인 부모에 맞춰 정렬됨
       (이 경우는 body)
       화면 전체를 채우는 splash screen을 만들었음
*/

@keyframes hideSplashScreen {
       form{
              opacity: 1;
       }
       to{
              opacity: 0;
              visibility: hidden;
       }
}

/* 6.35(splash screen - animation)
       animation: hideSplashScreen(keyframes name)
       0.5s ease-in-out (0.5초 keyframes 값 실행)
       forwards는 마지막 keyframes 값을 기억함
       그래서 visibility: hidden을 해줘서 화면에서 사라짐
       하지만 html이 사라진것은 아님 이는 js가 필요
       visibility:hidden은 클릭에 방해되지 않도록 해줌

       from{ opacity: 1; 화면에 보이게 함
              to{ opacity 0; 화면에서 사라지게 함
       원래 ease-in-out로 인해 반복되지만 forwards를 해줘서
       마지막 값인 opacity:0 visibility:hidden으로 고정됨

       animation에 딜레이 주고싶으면 delay 해서 주면 됨
*/