.badge{background-color: tomato;
width: 30px;
height: 30px;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: 600;
margin-left: 5px;

animation: badgeAnimation 0.8s infinite;
}

@keyframes badgeAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}