.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title{
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}

/* 아래 부분을 통해 채널과 아이콘 간격을 두고 배치 */

.friends-screen_channel-header{
    display: flex;
    justify-content: space-between;
}

.friends-screen_channel-header span{
    padding-bottom: 15px;
}

/* 6.14 
        font-weight: 600을 통해 글씨를 굵게 만들어줌
        *코드가 적용이 안된다면 먼저 잘못 쓴 텍스트가 없는지 확인해라*
*/

@keyframes rotateCog {
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-cog:hover {
    animation: rotateCog 1s linear infinite;
}

/* 6.37
    위 코드는 설정모양 cog가 빙글빙글 돌게하기 위함(x,y축이 아닌 z축)
    linear은 일정속도로 진행되게 함
*/