.user-component{
    justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}


/* text->title 부분 배열문제 찾아서 해결해보기 */

.user-component__avatar{
    width:70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 20px;
}

.user-component__subtitle{
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl{
    width: 80px;
    height: 80px;
}
.user-component__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

.user-component__title--not-bold{
    font-weight: 400;
}

.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time{
    display: block;
    margin-bottom: 10px;
}

/* 6.16
    img 큰 사이즈 80x80, 작은 사이즈 60x60

    user-component__column은 img와 text의 flex설정된 부모요소

    .user-component,
    .user-component__column:first-child
    이렇게 하면 두 클래스 모두에 효과가 적용됨

    component는 2개의 column을 가진 div임 
    둘다 display:flex, align-items: center 적용되있음
    첫번쨰  column에는 img와 text가 있음

    만드는 subtitle은 다른 스크린 작업 때 사용을 위해 만듦
    (반복되는 것들을 component로 만들면 작업이 쉬워지기 때문)
    *개인적으로 상태메시지처럼 이용해도 될 것 같음*
*/

/* 6.17 
    .user-component__avatar--xl에 width와 height값을 추가해주면
    이미지의 사이즈가 커진다

    텍스트의 margin값을 변수로 저장하기 위해서
    variables.css 안에 --horizontal-space:25px; 로 변수를 만들어준뒤
    25px값을 넣어준다 이후 var(--horizontal-space)를 이용하면 25px의 값 사용가능
    -> screen-header.css 파일에 paddimg를 이 방식으로 바꿔줌

    이제 프로필과 채널의 박스를 하나의 박스로 묶어줄 것
    가장 좋은 방법은 태그 안으로 넣어주는 것
    
    <main class="friends-screen">
    두 박스의 내용
    </main>

    이후 friends.css 파일에서 적용값 만듦

    헤더와 같은 padding 값을 갖게된다면 잘 적용된 것
*/

/* 6.18
    user-component는 friends.html에서 봤듯이 
    두 column을 갖고 있음
    1. 사진, 이름
    2. 숫자2 (span)
    이 두개를 분리하기 위해서 .user-component{
        justify-content: space-between; } 을 기존 클래스 설정값 위에 적용하면
    숫자2가 분리되서 적용됨

    이후 friends.css 파일에 작성
*/